body {
    font-family:"Ubuntu Light", "DejaVu Sans", Verdana, Geneva, sans-serif;
    color: #333;
}
.ui {
    background: #191b22;
    padding-bottom: 0;
}
.focusable:focus {
    background: #393E40;
}
.drawer__header, .drawer__inner {
    background: transparent;
}
.autosuggest-textarea__textarea {
    background: #232729;
    color: #FFF;
}
.search__input {
    background: #232729;
    color: #fff;
    border-radius: 3px;
}
.search__input:focus {
    background: #232729;
    color: #fff;
    border: 1px solid #215d9c;
}
.drawer__header a:hover {
    background: #215d9c;
}
.compose-form .autosuggest-textarea__textarea, .compose-form .spoiler-input__input {
    background: #232729;
    color: #c0c1c2;
}
.compose-form__buttons-wrapper {
    background-color: inherit;
}
.compose-form .compose-form__modifiers {
    color: #c0c1c2;
    background: inherit;
}
.compose-form .compose-form__buttons-wrapper {
    background: #393f3f;
    border-radius: 0;
    padding: 0;
}
.column-header__collapsible {
    color: #eeeeec;
}
.setting-text {
    color: inherit;
    border: none;
    border-bottom: 2px solid #393f3f;
}
a:hover, a:focus {
    color: #FFF;
}
.notification__favourite-icon-wrapper .star-icon, .star-icon.active {
    color: #DFE288;
}
.notification__message {
    color: #c0c1c2;
}
.notification__message .fa-user-plus {
    color: #ADFF2F;
}
.notification-follow .notification__message {
    color: #ADFF2F;
}
.notification-favourite .notification__message {
    color: #DFE288;
}
.notification-reblog .notification__message {
    color: #337ab7;
}
.notification__message .fa-retweet {
    color: #2b90d9;
}
.status {
    border-bottom: 1px solid #33393B;
}
.status__info {
    background-color: #393f3f;
    margin-left: -4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}
.detailed-status__action-bar {
    background: #393f3f;
    border-top: 1px solid #393f4f;
    border-bottom: 1px solid #393f4f;
}
.column-header, .column-back-button {
    background: linear-gradient(to bottom, #2c3133 0%, #262a2c 100%);
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #393E40;
}
.column-header>.column-header__back-button {
    color: #c0c1c2;
}
.column-header__wrapper {
    border: 1px solid #2B2828;
    border-radius: 5px 5px 0 0;
    border-bottom-color: #0b0c0c;
}
.column-header__button, .column-header__back-button {
    background: transparent;
    color: #fff;
}
.column-header__button:hover {
    color: #215d9c;
}
.column-header__back-button, .column-header__button, .column-header__button.active:hover, .column-header__buttons {
    background: linear-gradient(to bottom, #2c3133 0%, #262a2c 100%);
}
.column>.scrollable {
    background: #232729;
}
.status__action-bar-button {
    font-size: 12px!important;
}
.drawer, .drawer_inner, .drawer__inner__mastodon {
    background: #2C3133;
}
.button, .status-card {
    color: #919494;
    border: 1px solid #000;
    text-transform: none;
    background: linear-gradient(to bottom, #2c3133 0%, #262a2c 100%);
}
.button:active, .button:focus, .button:hover {
    color: #fff;
}
.media-gallery {
    border: 1px solid #000;
}
#framanav_container, body>img, .drawer__inner__mastodon>img {
    display: none;
}
.drawer__tab, .reply-indicator__content, .drawer__inner .reply-indicator__display-name, .drawer__inner .reply-indicator__display-name:hover, .drawer__inner .reply-indicator__content a, .column-back-button, .column-header, .status__content, .status__display-name, .muted .status__content a, .muted .status__content p, .muted .status__display-name strong, .detailed-status__meta, .status__relative-time {
    color: #c0c1c2;
}
.reply-indicator, .column-header__collapsible-inner, .status.status-direct, .column-header__button.active, .column-header__button.active:hover, .detailed-status {
    background: #393f3f;
}
.icon-button.inverted, .text-icon-button, .compose-form .compose-form__buttons-wrapper .character-counter__wrapper .character-counter, .status__prepend, .icon-button {
    color: #919494;
}
.status__prepend .status__display-name strong {
    color: #c0c1c2;
}
.setting-meta__label, .setting-toggle__label, .column-settings__section {
    color: inherit;
}
.hashtag, .u-url {
    display: inline-block;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0 5px;
}
.hashtag::first-letter, .u-url::first-letter {
    color: #fff;
}
.reply-indicator__content .emojione, .status__content .emojione {
    width: 30px;
    height: 30px;
    margin: 0 0 0;
}
.account:hover, .status:hover {
    background-color: transparent;
}
.activity-stream .status.light .status__content a, .empty-column-indicator a, .reply-indicator__content a, .search-results__hashtag, .status__content a, .status a {
    color: currentColor;
}
.detailed-status a {
    color: #c0c1c2;
}
.account__display-name strong, .detailed-status__display-name strong, .status__display-name strong {
    color: #c0c1c2;
}
.account__display-name:hover strong, .detailed-status__display-name:hover strong, .reply-indicator__display-name:hover strong, .status__display-name:hover strong {
    color: white!important;
}
.status__display-name img {
    filter: grayscale(100%);
}
.display-name:hover img {
    filter: grayscale(0%);
}
.reply-indicator__content .status__content__spoiler-link, .status__content .status__content__spoiler-link {
    background: #393f3f;
    color: #919494;
    font-weight: 700;
}
.reply-indicator__content .status__content__spoiler-link:hover, .status__content .status__content__spoiler-link:hover {
    background: #393f3f;
    color: white;
}
.account, .status {
    border-color: inherit;
}
.status__info {
    color: #919494;
}
.notification-reblog .status__action-bar, .notification-reblog .display-name, .notification-favourite .status__action-bar, .notification-favourite .display-name {
    display:none;
}
/* put your profile's url here ! */
 .status__content a[href="https://instance.tld/@you"] {
    color: peachpuff;
    background-color: purple;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
}